body {
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .rst-content .toctree-wrapper p.caption, legend, p.caption {
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
}

html.writer-html5 .rst-content dl.field-list {
    display: block;
}

html.writer-html5 .rst-content dl.field-list > dt {
    background: #f3f4f7;
    padding: 0.3rem 0.5rem;
    border-left: 3px solid #55a5d9;
    padding-right: 100px;
    margin-bottom: 8px;
    font-size: 95%;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) > dt {
    position: relative;
    background: #f3f4f7;
    padding: 0.5rem;
    border-top: none;
    border-left: 3px solid #55a5d9;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) > dt em,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) > dt .sig-paren {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 95%;
    font-style: normal;
}

html.writer-html5 .rst-content .admonition.note {
    background: #f3f4f7;
}
